<!--<div class="zqui-modal__mask"></div>
<div class="zqui-modal__dialog ">
    <div class="zqui-modal__content ">
        <div class="zqui-modal__hd">
            <div class="zqui-modal__title">信息说明</div>
            <a class="zqui-close Js-Close">×</a>
        </div>
        <div class="zqui-modal__bd">
       
        </div>
    </div>
</div>-->

<div class="zqui-info-desc">
    <div class="zqui-title">导入数据步骤说明</div>
    <div class="zqui-desc__text">
        <p>1.首先请下载导入表格模板。</p>
        <div class="zqui-upload-list zqui-upload-list_pic">
            <div class="zqui-upload__item">
                <div class="zqui-upload__bd">
                    <a href="{{>href}}" target="_blank" class="zqui-upload__name">{{>name}}</a>
                </div>
                <div class="zqui-upload__ft">
                    <a class="zqui-text_info" target="_blank" href="{{>href}}">下载</a>
                </div>
            </div>
        </div>
        <p>2.下载表格后，请在表格内容填写必要信息。</p>
        <p>3.信息填好后，点击下面的“导入数据”按钮，将填写的表格选择导入即可。</p>
        <p>4.点击右上角叉号可关闭此弹窗。</p>
    </div>
    <div class="zqui-btn-operate">
        <div class="zqui-btn-group">
            <button class="zqui-btn zqui-btn_warning">
                <div id="btnImport"></div>
            </button>
        </div>
    </div>
    <div class="zqui-import__tips" id="Tips">
    </div>
</div>