
    <!--<div class="zqui-form-group">
        <div class="form-group">
            <label class="control-label col-sm-3">旧密码：</label>
            <div class="col-sm-6">
                <input type="password" id="OldPwd" class="form-control validate[required]" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">新密码：</label>
            <div class="col-sm-6">
                <input type="password" id="NewPwd" class="form-control validate[required]" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">重复密码：</label>
            <div class="col-sm-6">
                <input type="password" id="RptPwd" class="form-control validate[required,confirm[NewPwd]]" />
            </div>
        </div>
    </div>-->

<!--<div class="zqui-modal modal Js-ModalChange active ">
    <div class="zqui-modal__mask"></div>
    <div class="zqui-modal__dialog modal-dialog">
        <div class="zqui-modal__content modal-content">
            <div class="zqui-modal__hd modal-header">
                <div class="zqui-modal__title modal-title">修改密码</div>
                <a class="zqui-close" data-dismiss="modal" aria-hidden="true">×</a>
            </div>
            <div class="zqui-modal__bd modal-body">
                <div class="divView"></div>
                <div class="divEditor">
                    <div class="zqui-form">
                        <div class="zqui-form-group">
                            <div class="zqui-form__label">
                                <span class="zqui-required"></span>旧密码:
                            </div>
                            <div class="zqui-form__element">
                                <input type="password" id="OldPwd" class="form-control validate[required]" />
                                <div class="zqui-form__tips"></div>
                            </div>
                        </div>
                        <div class="zqui-form-group">
                            <div class="zqui-form__label">
                                <span class="zqui-required"></span>新密码:
                            </div>
                            <div class="zqui-form__element">
                                <input type="password" id="NewPwd" class="form-control validate[required]" />
                                <div class="zqui-form__tips"></div>
                            </div>
                        </div>
                        <div class="zqui-form-group">
                            <div class="zqui-form__label">
                                <span class="zqui-required"></span>重复密码:
                            </div>
                            <div class="zqui-form__element">
                                <input type="password" id="RptPwd" class="form-control validate[required,confirm[NewPwd]]" />
                                <div class="zqui-form__tips"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="zqui-form">
    <div class="zqui-form-group">
        <div class="zqui-form__label">
            <span class="zqui-required"></span>旧密码:
        </div>
        <div class="zqui-form__element">
            <input type="password" id="OldPwd" class="zqui-form__input validate[required]" />
        </div>
        <div class="zqui-form__tips">

        </div>
    </div>
    <div class="zqui-form-group">
        <div class="zqui-form__label">
            <span class="zqui-required"></span>新密码:
        </div>
        <div class="zqui-form__element active">
            <input type="password" id="NewPwd" class="zqui-form__input validate[required]" />
            <div class="zqui-form__tips">
                必须含数字和字母
            </div>
        </div>
    </div>
    <div class="zqui-form-group">
        <div class="zqui-form__label">
            <span class="zqui-required"></span>重复密码:
        </div>
        <div class="zqui-form__element active">
            <input type="password" id="RptPwd" class="zqui-form__input validate[required,confirm[NewPwd]]" />
        </div>
        <div class="zqui-form__tips">
        </div>
    </div>
</div>