<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--mysql-->
  <!--<add name="conn" connectionString="Server=localhost;Port=3306;database=;Uid=;Pwd=;CharSet=utf8" providerName="System.Data.SqlClient" />-->
  <!--<add name="conn" connectionString="Data Source=(localdb)\mssqllocaldb;Database=Kaycore;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
  <!--mssql-->
  <add name="conn" connectionString="Data Source=47.92.217.144;database=k3Demo;uid=sa;pwd=~Zhiqing12345678" providerName="System.Data.SqlClient" />
  <!--<add name="conn" connectionString="Server=localhost;Database=Lamtip;uid=sa;pwd=~Qy7ttvj7vg" providerName="System.Data.SqlClient" />-->
  <!--<add name="conn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Database=Lamtip;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />-->
</connectionStrings>