
<div class="zqui-form">
    <div class="zqui-form-group">
        <div class="zqui-form__label">
            <span class="zqui-required"></span>旧密码:
        </div>
        <div class="zqui-form__element">
            <input type="password" id="OldPwd" class="zqui-form__input validate[required]" />
        </div>
        <div class="zqui-form__tips">

        </div>
    </div>
    <div class="zqui-form-group">
        <div class="zqui-form__label">
            <span class="zqui-required"></span>新密码:
        </div>
        <div class="zqui-form__element active">
            <input type="password" id="NewPwd" class="zqui-form__input validate[required]" />
        </div>
    </div>
    <div class="zqui-form-group">
        <div class="zqui-form__label">
            <span class="zqui-required"></span>重复密码:
        </div>
        <div class="zqui-form__element active">
            <input type="password" id="RptPwd" class="zqui-form__input validate[required,confirm[NewPwd]]" />
        </div>
        <div class="zqui-form__tips">
        </div>
    </div>
</div>