    <div class="zqui-tray">
    <div class="zqui-tray__cell zqui-tray__cell_left zqui-tray__cell_lg">
        <div class="zqui-roll" style="height:558px;overflow:auto;">
            <div class="deptTree"></div>
        </div>
    </div>
    <div class="zqui-tray__cell">
        <div class="zqui-p_md">
            <div class="zqui-table-toolbar toolbar">
                <div class="zqui-filter">
                    <div class="zqui-filter__item">
                        <div class="zqui-input-group">
                            <input class="zqui-input-group__input" name="key" placeholder="姓名搜索"><a class="zqui-input-group__btn btnQuery"><i class="icon icon-search"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <table class="zqui-table zqui-table_border">
                <thead></thead>
                <tbody></tbody>
            </table>
            <div class="zqui-table-pages pages"></div>
        </div>
    </div>
</div>